<h2>Create New Game</h2>

<form id="new-game">

  <div class="form-group">
    <label for="title">Title</label>
    <input id="game-title" class="form-control" type="text" name="title">
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input id="game-category" class="form-control" type="text" name="category">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input id="game-description" class="form-control" type="text" name="description">
  </div>

  <div class="form-group">
    <label for="screenshot">Link to Screenshot Images</label>
    <input id="game-screenshot" class="form-control" type="text" name="screenshot">
  </div>

  <div class="form-group">
    <label for="url">Link to Play Game</label>
    <input id="game-url" class="form-control" type="text" name="url">
  </div>

  <input class="btn btn-default" type="submit" value="Add">
</form>

<script src = "/js/games/new.js"></script>